body {
	padding-bottom: 40px;
}

.navbar .secondary-nav img {
	height: 20px;
}

.subnavbar {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000;
	margin: -19px -19px 19px -19px;
}

.subnavbar ul {
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.subnavbar ul li {
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
}

.subnavbar ul li a {
	display: block;
	height: 100%;
	padding: 0 14px;
	text-align: center;
	color: #fff;
}

.subnavbar ul li a:hover {
	background: #09f;
	color: #fff;
	text-decoration: none;
}

.subnavbar ul li.active a {
	background: #555;
	color: #fff;
}

footer p {
	text-align: center;
}

#dataTable_wrapper {
	width: 100%;
}

div.dataTables_length label {
	width: 460px;
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
	width: 460px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table {
	margin: 0;
	clear: both;
}

table.dataTable th:active {
	outline: none;
}

@media (min-width: 768px) {
	.subnavbar {
		margin: -19px 0 19px;
	}
}

@media (min-width: 980px) {
	body {
		padding-top: 90px;	
	}
	
	.subnavbar {
		position: fixed;
		margin: 0;
		top: 40px;
		left: 0;
		right: 0;
	}
}