body {
	background: #eee;
}

#main {
	background: #fff fixed;
	width: 100%;
	padding: 19px;
	margin: -27px 0 0;
}

.navbar .secondary-nav img {
	height: 20px;
}

.subnavbar {
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #333333 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#333333)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#333333 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#333333 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#333333 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000;
	margin: 0;
	z-index: 5;
	width: 100%;
}

.subnavbar ul {
	list-style-type: none;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.subnavbar ul li {
	float: left;
	display: block;
	height: 40px;
	line-height: 40px;
}

.subnavbar ul li a {
	display: block;
	height: 100%;
	padding: 0 14px;
	text-align: center;
	color: #999;
	font-size: 13px;
	text-shadow: 1px 1px 5px #222;
}

.subnavbar ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.subnavbar ul li.active a {
	color: #fff;
}

footer {
	text-align: center;
	padding: 19px 0;
	text-transform: lowercase;
	font-weight: bold;
	color: #999;
}

.nav-pills > li {
	margin-right: 10px;
}

.title-bar {
	width: 100%;
	background: #0099ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #0099ff 0%, #0088cc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099ff), color-stop(100%,#0088cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0099ff 0%,#0088cc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0099ff 0%,#0088cc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0099ff 0%,#0088cc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0099ff 0%,#0088cc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099ff', endColorstr='#0088cc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #08c;
	color: #fff;
	border-radius: 4px;
	font-weight: bold;
	text-align: center;
	padding: 9px 0;
	font-weight: 1.1em;
	text-shadow: 1px 1px 1px #08c;
}

.no-results {
	text-align: center;
	font-size: 18px;
	line-height: 200px;
	color: #999;
	font-weight: 200;
}

.loading {
	line-height: 200px;
	text-align: center;
}

/* Models */

.models-holder {
	overflow-x: auto;
	overflow-y: visible !important;
	padding-bottom: 50px;
}

#models-table th, #models-table .nowrap {
	white-space: nowrap;
}

#models-table td {
	border: none;
}

.models .value {
	margin: 0 0 15px;
}

.models .input textarea {
	width: 90%;
	min-height: 20px;
	max-width: 530px;
	margin-bottom: 35px;
}

/* Header Controls */

#models-table th .btn-link {
	padding: 0;
}

#models-table th .btn-link:first-child {
	padding-left: 5px;
}

#models-table th button {
	color: #fff;
}

#models-table th > button {
	opacity: .75;
}

#models-table th button:hover {
	text-decoration: none;
}

#models-table th button:hover {
	opacity: 1;
}

#models-table th input {
	border: 1px solid #08c;
}

@media (min-width: 992px) {
	body {
		padding-top: 80px;
	}

	.subnavbar {
		position: fixed;
		margin: 0;
		top: 53px;
		left: 0;
		right: 0;
	}
}