<h2>{{modelInfo.proper_name}} #{{model[modelInfo.idFieldName]}}</h2>

<div class="errors">
	<p class="alert alert-error" ng-repeat="error in errors">{{error}}</p>
</div>

<a href="#/{{model[modelInfo.idFieldName]}}/edit" class="btn" ng-show="modelInfo.permissions.edit">
	<i class="icon-pencil"></i> Edit
</a>
<button class="btn btn-danger" ng-click="deleteModelAsk(model)">
	<i class="icon-white icon-remove"></i> Delete
</button>

<div class="models">
	<div ng-repeat="property in modelInfo.properties" class="model">
		<h4>{{property.title}}</h4>
		
		<div class="value" ng-bind-html-unsafe="model|modelValue:modelInfo.properties:property:false"></div>
	</div>
</div>

<div modal="deleteModel" close="closeDeleteModal()" opts="dialogOptions">
	<div class="modal-header">
		<h3>Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete this {{modelInfo.proper_name}}?</p>
	</div>
	<div class="modal-footer">
		<button class="btn cancel" ng-click="closeDeleteModal()">No</button>
		<button class="btn btn-danger" ng-click="deleteModelConfirm()">Yes</button>
	</div>
</div>